env
node_modules
node_modules/prettier/third-party.js
node_modules/prettier/standalone.js
node_modules/prettier/README.md
node_modules/prettier/parser-yaml.js
node_modules/prettier/parser-typescript.js
node_modules/prettier/parser-postcss.js
node_modules/prettier/parser-meriyah.js
node_modules/prettier/parser-markdown.js
node_modules/prettier/parser-html.js
node_modules/prettier/parser-graphql.js
node_modules/prettier/parser-glimmer.js
node_modules/prettier/parser-flow.js
node_modules/prettier/parser-espree.js
node_modules/prettier/parser-babel.js
node_modules/prettier/parser-angular.js
node_modules/prettier/package.json
node_modules/prettier/LICENSE
node_modules/prettier/index.js
node_modules/prettier/esm/standalone.mjs
node_modules/prettier/esm/parser-yaml.mjs
node_modules/prettier/esm/parser-typescript.mjs
node_modules/prettier/esm/parser-postcss.mjs
node_modules/prettier/esm/parser-meriyah.mjs
node_modules/prettier/esm/parser-markdown.mjs
node_modules/prettier/esm/parser-html.mjs
node_modules/prettier/esm/parser-graphql.mjs
node_modules/prettier/esm/parser-glimmer.mjs
node_modules/prettier/esm/parser-flow.mjs
node_modules/prettier/esm/parser-espree.mjs
node_modules/prettier/esm/parser-babel.mjs
node_modules/prettier/esm/parser-angular.mjs
node_modules/prettier/doc.js
node_modules/prettier/cli.js
node_modules/prettier/bin-prettier.js
node_modules/.package-lock.json
node_modules/.bin/prettier
test.html
.DS_Store
public/.DS_Store
Step5Deliverable/.DS_Store
Step5Deliverable/ProjectGroup69_step5_DRAFT.zip
Step5Deliverable/ProjectGroup69_step5_DRAFT/DDL.SQL
Step5Deliverable/ProjectGroup69_step5_DRAFT/DML.SQL
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/.DS_Store
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/package-lock.json
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/package.json
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/public/index.html
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/public/manifest.json
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/public/robots.txt
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/README.md
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/App.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/components/CategoryRow.jsx
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/components/CouponRow.jsx
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/components/CouponSelect.jsx
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/components/IntersectionRow.jsx
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/components/NavBar.jsx
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/components/RestaurantRow.jsx
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/components/RestaurantSelect.jsx
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/components/ReviewRow.jsx
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/components/UserRow.jsx
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/index.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/routes/Categories.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/routes/Coupons.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/routes/Intersections.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/routes/Restaurants.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/routes/Reviews.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/routes/Users.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/sample_data/categories.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/sample_data/coupons.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/sample_data/intersections.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/sample_data/restaurants.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/sample_data/reviews.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/client/src/sample_data/users.jsx
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/config.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/database.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/index.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/package-lock.json
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/package.json
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/public/.DS_Store
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/public/html_pages/categories.html
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/public/html_pages/categories_restaurant.html
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/public/html_pages/coupons.html
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/public/html_pages/home.html
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/public/html_pages/restaurants.html
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/public/html_pages/reviews.html
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/public/html_pages/styles.css
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/public/html_pages/users.html
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/public/sql_files/DDL.SQL
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/public/sql_files/DML.SQL
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/routes/categories.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/routes/restaurants.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/routes/reviews.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/routes/users.js
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/sql_files/DDL.SQL
Step5Deliverable/ProjectGroup69_step5_DRAFT/MONCH_CODE/sql_files/DML.SQL
Step5Deliverable/ProjectGroup69_step5_DRAFT/Project Step 5 Draft_ Implement MOST Remaining Entities_Pages.pdf
Step5Deliverable/url.txt
